@use "../settings" as *;
@use "../tools/responsive" as *;

video {
  max-width: 100%;
}

iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

figcaption {
  padding: $spacer / 3 0;
  color: $color-black;
  text-align: center;
  margin: $spacer;

  @include media-breakpoint-up(xl) {
    padding: $spacer-xl / 3 0;
    margin: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    padding: $spacer-sm / 3 0;
    margin: $spacer-sm;
  }
}

img {
  width: auto;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;

  &.lazy {
    opacity: 0;
  }

  &.loaded {
    opacity: 1;
    transition: opacity 0.15s linear;
  }
}

a {
  color: $color-black;

  &:hover {
    color: $color-hover;
  }
}
