@use "../settings" as *;
@use "../tools/typography" as typography-tools;
@use "../tools/responsive" as *;

@include typography-tools.generate-type-placeholders();

strong {
  font-variation-settings: "wght" $font-bold;
}

h1 {
  @extend %massive;
}

h2 {
  @extend %ultralarge;
}

h3 {
  @extend %extralarge;
}

h4 {
  @extend %large;
}

h5 {
  @extend %medium;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 $spacer * 3;
  margin-top: 0;
  margin-bottom: $spacer;
  color: $color-black;

  @include media-breakpoint-up(xl) {
    margin: 0 $spacer-xl * 3;
    margin-bottom: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 $spacer-sm * 3;
    margin-bottom: $spacer-sm;
  }
}

p {
  line-height: 1.35em !important;
}

p a {
  text-decoration: underline;
}

%button {
  padding: $spacer / 2.5 $spacer;
  border-radius: 100vw;
  border: 2px solid $color-black;
  @include typography-tools.responsive-type(extrasmall);
}

body {
  font-family: "medium", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible !important;
  overflow-x: hidden !important;
  background-color: $color-primary;
  @include typography-tools.responsive-type(small);

  &.no-scroll {
    overflow: hidden !important;
    position: relative;
  }
}
