@use "sass:map";

$font-weights: (
  regular: 400,
  medium: 600,
  bold: 700,
  extrabold: 800,
) !default;

$font-regular: map.get($font-weights, regular) !default;
$font-medium: map.get($font-weights, medium) !default;
$font-bold: map.get($font-weights, bold) !default;
$font-extrabold: map.get($font-weights, extrabold) !default;

$font-definitions: (
  freak: (
    file: "FREAKGroteskNext-Bold.ttf",
    format: "truetype",
  ),
  extrabold: (
    file: "InstrumentSans.ttf",
    format: "truetype",
    weight: $font-extrabold,
  ),
  black: (
    file: "InstrumentSans.ttf",
    format: "truetype",
    weight: $font-bold,
  ),
  medium: (
    file: "InstrumentSans.ttf",
    format: "truetype",
    weight: $font-medium,
  ),
  light: (
    file: "InstrumentSans.ttf",
    format: "truetype",
    weight: $font-regular,
  ),
) !default;
