$typography-scales: (
  micro: (
    base: (size: 10px, line-height: 1.15),
    xl: (size: 14px, line-height: 1.15),
    sm: (size: 10px, line-height: 1.15),
  ),
  extrasmall: (
    base: (size: 12px, line-height: 1.15),
    xl: (size: 16px, line-height: 1.15),
    sm: (size: 12px, line-height: 1.15),
  ),
  small: (
    base: (size: 16px, line-height: 1.15, variation-width: 98),
    xl: (size: 20px, line-height: 1.15, variation-width: 98),
    sm: (size: 15px, line-height: 1.15, variation-width: 98),
  ),
  medium: (
    base: (size: 20px, line-height: 1.15),
    xl: (size: 24px, line-height: 1.15),
    sm: (size: 18px, line-height: 1.15),
  ),
  large: (
    base: (size: 24px, line-height: 1.15),
    xl: (size: 32px, line-height: 1.15),
    sm: (size: 22px, line-height: 1.15),
  ),
  extralarge: (
    base: (size: 32px, line-height: 1.15),
    xl: (size: 40px, line-height: 1.15),
    sm: (size: 28px, line-height: 1.15),
  ),
  ultralarge: (
    base: (size: 40px, line-height: 1.1),
    xl: (size: 48px, line-height: 1.1),
    sm: (size: 32px, line-height: 1.1),
  ),
  massive: (
    base: (size: 48px, line-height: 1),
    xl: (size: 64px, line-height: 1),
    sm: (size: 36px, line-height: 1),
  ),
) !default;

$micro: 10px !default;
$extrasmall: 12px !default;
$small: 16px !default;
$medium: 20px !default;
$large: 24px !default;
$extralarge: 32px !default;
$ultralarge: 40px !default;
$massive: 48px !default;

$micro-xl: 14px !default;
$extrasmall-xl: 16px !default;
$small-xl: 20px !default;
$medium-xl: 24px !default;
$large-xl: 32px !default;
$extralarge-xl: 40px !default;
$ultralarge-xl: 48px !default;
$massive-xl: 64px !default;

$micro-sm: 10px !default;
$extrasmall-sm: 12px !default;
$small-sm: 15px !default;
$medium-sm: 18px !default;
$large-sm: 22px !default;
$extralarge-sm: 28px !default;
$ultralarge-sm: 32px !default;
$massive-sm: 36px !default;

$micro-lineh: 1.15 !default;
$extrasmall-lineh: 1.15 !default;
$small-lineh: 1.15 !default;
$medium-lineh: 1.15 !default;
$large-lineh: 1.15 !default;
$extralarge-lineh: 1.15 !default;
$ultralarge-lineh: 1.1 !default;
$massive-lineh: 1 !default;

$micro-lineh-xl: 1.15 !default;
$extrasmall-lineh-xl: 1.15 !default;
$small-lineh-xl: 1.15 !default;
$medium-lineh-xl: 1.15 !default;
$large-lineh-xl: 1.15 !default;
$extralarge-lineh-xl: 1.15 !default;
$ultralarge-lineh-xl: 1.1 !default;
$massive-lineh-xl: 1 !default;

$micro-lineh-sm: 1.15 !default;
$extrasmall-lineh-sm: 1.15 !default;
$small-lineh-sm: 1.15 !default;
$medium-lineh-sm: 1.15 !default;
$large-lineh-sm: 1.15 !default;
$extralarge-lineh-sm: 1.15 !default;
$ultralarge-lineh-sm: 1.1 !default;
$massive-lineh-sm: 1 !default;
