@use "sass:map";

@mixin font-face($family, $file, $format: "truetype", $weight: null, $style: normal, $path: "../fonts/") {
  @font-face {
    font-family: $family;
    src: url("#{$path}#{$file}") format($format);
    font-style: $style;
    @if $weight {
      font-variation-settings: "wght" $weight;
    }
  }
}

@mixin load-fonts($definitions, $path: "../fonts/") {
  @each $family, $config in $definitions {
    $file: map.get($config, file);
    $format: map.get($config, format, "truetype");
    $weight: map.get($config, weight, null);
    $style: map.get($config, style, normal);

    @include font-face($family, $file, $format, $weight, $style, $path);
  }
}
