@use "sass:map";
@use "../settings/breakpoints" as breakpoints;

@function breakpoint-value($name) {
  @return map.get(breakpoints.$grid-breakpoints, $name);
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-value($name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $max: breakpoint-value($name);
  @if $max {
    @media (max-width: #{$max - 0.02px}) {
      @content;
    }
  } @else {
    @content;
  }
}
